header {
    background-color: blue;
    text-align: center;
    font-family: "Google Sans", sans-serif;
    color: white;
    width: 70%;
    margin: auto;
    padding: 0.5rem;
}

#subtitulo {
    text-align: center;
    font-family: "Google Sans", sans-serif;
    flex-shrink: 1;
    margin: 2rem;
}

#descricao {
    text-align: center;
    font-size: 1.2rem;
    font-family: "Google Sans", sans-serif;
    margin: 3rem;
    flex-shrink: 1;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    flex-shrink: 1;
}

.inputs {
    display: flex;
    justify-content: center;
    gap: 0.7rem;
}

.input {
   width: 4rem;
   height: 4rem;
   font-size: 3rem;
   font-family: "Google Sans", sans-serif;
   text-align: center;
}

#link_recuperacao_senha {
    text-align: center;
    font-size: 1rem;
    font-family: "Google Sans", sans-serif;
    margin: 3rem;
    cursor: pointer;
}

#link_recuperacao_senha:hover {
    color: darkblue;
}

.botoes_avancar {
    display: flex;
    gap: 1rem;
    flex-shrink: 1;
    justify-content: right;
    width: 55rem;
    margin: 1rem;
}

.botao {
    background-color: blue;
    color: white;
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    font-family: "Google Sans", sans-serif;
    border: 2px solid darkblue;
    text-align: center;
    cursor: pointer;
}

.botao:hover {
    background-color: darkblue;
}

