body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: blue;
    border: 2px solid darkblue;
    text-align: center;
    font-family: "Google Sans", sans-serif;
    color: white;
    width: 80%;
    max-width: 56rem;
    padding: 0.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 1em;
    font-family: "Google Sans", sans-serif;
    flex-wrap: wrap;
}

#subtitulo {
    text-align: center;
}

#descricao {
    text-align: center;
    font-size: 1em;
    font-family: "Google Sans", sans-serif;
    margin: 2em;
}

.email_box {
    border-color: darkblue;
    color: darkblue;
    padding: 0%;
    width: 100%;
    max-width: 30em;
    height: 4em;
}

#legend {
    margin-left: 1rem;
}

#input {
    margin: 0%;
    height: 1.8em;
    font-size: 1.2em;
    border-style: none;
    outline: 0;
    position: relative;
    width: 100%;
    max-width: 22.5em;
    padding-inline-start: 0.5em;
}

#link_codigo {
    text-align: center;
    font-size: 1em;
    font-family: "Google Sans", sans-serif;
    margin: 3em;
    cursor: pointer;
}

#link_codigo:hover {
    color: darkblue;
}

.botoes {
    display: flex;
    gap: 1em;
    justify-content: right;
    align-items: center;
    width: 55em;
    flex-wrap: wrap;
}

.botoes * {
     background-color: blue;
    color: white;
    width: 5em;
    height: 2em;
    font-size: 1em;
    border: 2px solid darkblue;
    text-align: center;
    cursor: pointer;
    flex-wrap: wrap;
}
    
.botoes *:hover {
    background-color: darkblue;
}

@media (max-width: 768px) {
    header {
        width: 90%;
    }

    .botoes {
        width: 100%;
        justify-content: center;
    }

    .botoes * {
        width: 100%;
        max-width: 5em;
    }
}

@media (max-width: 480px) {

    header {
        width: 95%;
        font-size: 0.9em;
    }

    #descricao {
        font-size: 0.9em;
        margin: 1.5em 1em;
    }

    .email_box {
        height: auto;
    }

    #input {
        font-size: 1em;
        max-width: 18.5em;
    }

    .botoes {
        height: 2.5em;
        font-size: 0.9em;
    }
}
