body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: blue;
    border: 2px solid darkblue;
    text-align: center;
    font-family: "Google Sans", sans-serif;
    color: white;
    width: 80%;
    max-width: 56rem;
    padding: 0.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 1em;
    font-family: "Google Sans", sans-serif;
}

#subtitulo {
    text-align: center;
}

.condicoes {
    text-align: left;
    font-size: 1em;
    margin: 2em;
}

.senha {
    border-color: darkblue;
    color: darkblue;
    padding: 0%;
    width: 30em;
    height: 4em;
}

.legend {
    margin-left: 2em;
}

.input {
    margin: 0%;
    height: 1.8em;
    font-size: 1.5em;
    border-style: none;
    outline: 0;
    position: relative;
    width: 100%;
    max-width: 19em;
    padding-inline-start: 0.5em;
}

#erro {
    color: red;
}

.botoes_avancar {
    display: flex;
    gap: 1em;
    flex-shrink: 1;
    justify-content: right;
    width: 55em;
}

.botao {
    background-color: blue;
    color: white;
    width: 5em;
    height: 2em;
    font-size: 1em;
    border: 2px solid darkblue;
    text-align: center;
    cursor: pointer;
}

.botao:hover {
    background-color: darkblue;
}

@media (max-width: 768px) {
    header {
        width: 90%;
    }

    .input {
        max-width: 10em;
    }

    .senha {
        width: 100%;
    }

    .botoes_avancar {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 480px) {

    header {
        width: 95%;
        font-size: 0.9em;
    }

    .condicoes {
        font-size: 0.9em;
        margin: 1.5em 1em;
    }

    .senha {
        height: auto;
    }

    .input {
        font-size: 1.2em;
    }

    .botao {
        width: 100%;
        max-width: 10em;
        height: 2.5em;
        font-size: 0.9em;
    }
}