/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f7fb;
    color: #333;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: linear-gradient(90deg, #0d47a1, #1565c0);
    color: white;
}

.header nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

.header nav a:hover {
    border-bottom: 2px solid white;
}

/* HERO */
.hero {
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url("https://images.unsplash.com/photo-1529156069898-49953e39b3ac");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h2 {
    font-size: 40px;
}

.hero p {
    margin: 15px 0;
}

.btn {
    padding: 10px 20px;
    max-width: 400px;
    background: #1565c0;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 50px;
}

/* SEÇÕES */
.section {
    padding: 50px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* FEATURES */
.features {
    list-style: none;
    margin-top: 20px;
}

.features li {
    margin: 10px 0;
}

/* CARROSSEL */
.carousel {
    background: #1565c0;
    color: white;
    padding: 30px;
    text-align: center;
}

.slide {
    display: none;
    font-size: 20px;
}

.slide.active {
    display: block;
}

/* CTA */
.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: #0d47a1;
    color: white;
    padding: 50px;
    text-align: center;

}

/* FOOTER */
footer {
    background: #0d47a1;
    color: white;
    text-align: center;
    padding: 15px;
}

/* RESPONSIVO */
@media (max-width: 768px) {

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .hero h2 {
        font-size: 28px;
    }

}